In [1]:
print(23

SyntaxError: incomplete input (3143232176.py, line 1)

In [3]:
print23

NameError: name 'print23' is not defined

In [4]:
print('wee)

SyntaxError: unterminated string literal (detected at line 1) (2846080217.py, line 1)

In [7]:
minutes = 42
seconds = 42
total_seconds = (42*60) + 42
print(total_seconds, "seconds")

2562 seconds

In [8]:
kilo = 10
miles = kilo/1.61
print(miles, "miles")

6.211180124223602 miles

In [9]:
distance_kilometer = 10
distance_miles = distance_kilometer/1.61
time_seconds = (42*60) + 42
time_minutes = 42 + (42/60)
time_hour = time_minutes/60
seconds_average_pace = time_seconds/distance_miles
minutes_average_pace = time_minutes/distance_miles
average_speed = distance_miles/time_hour

print(seconds_average_pace, "seconds per mile")
print(minutes_average_pace, "minutes per mile")
print(average_speed, "miles per hour")

412.482 seconds per mile
6.874700000000002 minutes per mile
8.727653570337614 miles per hour

In [10]:
42 = n

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3090476294.py, line 1)

In [13]:
print("hel").

SyntaxError: invalid syntax (759916053.py, line 1)

In [12]:
x = y = 1

In [17]:
xy

NameError: name 'xy' is not defined

In [18]:
import math
(4/3) * math.pi * (5**3)

523.5987755982989

In [20]:
dis = 0.4 * 24.95
cost1 = 3 + (59 * 0.75)
new = 60 * (24.95-dis)
total = new + cost1
print(total)/[.]

945.4499999999999