## Importing Dataset

In [1]:
!ls

Arrest_Data_from_2010_to_Present.csv  Untitled1.ipynb  Untitled.ipynb

In [2]:
import pandas as pd

data = pd.read_csv('./Arrest_Data_from_2010_to_Present.csv', nrows=1227516)

### Analysing and Cleaning the Data

In [3]:
data.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
0,4248313,02/24/2015,1310.0,20,Olympic,2022,37,M,H,5.0,Burglary,F,459PC,BURGLARY,5TH,WILTON,"(34.0653, -118.314)"
1,191811472,05/03/2019,1700.0,18,Southeast,1802,23,F,B,NaN,NaN,M,653.22 PC,NaN,91ST,FIGUEROA,"(33.9543, -118.2827)"
2,4254777,02/26/2015,2010.0,19,Mission,1985,22,M,H,6.0,Larceny,M,459.5PC,SHOPLIFTING,8300 VAN NUYS BL,NaN,"(34.2216, -118.4488)"
3,5614161,04/29/2019,1040.0,8,West LA,842,41,M,H,3.0,Robbery,F,211PC,ROBBERY,11600 WILSHIRE BL,NaN,"(34.0508, -118.4592)"
4,5615197,04/30/2019,615.0,6,Hollywood,663,27,M,O,5.0,Burglary,F,459PC,BURGLARY,LA BREA,LEXINGTON,"(34.0907, -118.3384)"

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1227516 entries, 0 to 1227515
Data columns (total 17 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   Report ID                 1227516 non-null  int64
 1   Arrest Date               1227516 non-null  object
 2   Time                      1227321 non-null  float64
 3   Area ID                   1227516 non-null  int64
 4   Area Name                 1227516 non-null  object
 5   Reporting District        1227516 non-null  int64
 6   Age                       1227516 non-null  int64
 7   Sex Code                  1227516 non-null  object
 8   Descent Code              1227516 non-null  object
 9   Charge Group Code         1139950 non-null  float64
 10  Charge Group Description  1139514 non-null  object
 11  Arrest Type Code          1227516 non-null  object
 12  Charge                    1227516 non-null  object
 13  Charge Description        1139987 non-null  object
 14  Address                   1227516 non-null  object
 15  Cross Street              707334 non-null   object
 16  Location                  1227516 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 159.2+ MB

In [5]:
# remove rows that have all NAs
data.dropna(how='all', inplace=True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1227516 entries, 0 to 1227515
Data columns (total 17 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   Report ID                 1227516 non-null  int64
 1   Arrest Date               1227516 non-null  object
 2   Time                      1227321 non-null  float64
 3   Area ID                   1227516 non-null  int64
 4   Area Name                 1227516 non-null  object
 5   Reporting District        1227516 non-null  int64
 6   Age                       1227516 non-null  int64
 7   Sex Code                  1227516 non-null  object
 8   Descent Code              1227516 non-null  object
 9   Charge Group Code         1139950 non-null  float64
 10  Charge Group Description  1139514 non-null  object
 11  Arrest Type Code          1227516 non-null  object
 12  Charge                    1227516 non-null  object
 13  Charge Description        1139987 non-null  object
 14  Address                   1227516 non-null  object
 15  Cross Street              707334 non-null   object
 16  Location                  1227516 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 159.2+ MB

## Answering Questions

1. How many bookings of arrestees were made in 2018?

In [7]:
data_2018 = data.loc[data['Arrest Date'].str.contains('2018')]
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42380 entries, 165 to 1227515
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Report ID                 42380 non-null  int64
 1   Arrest Date               42380 non-null  object
 2   Time                      42373 non-null  float64
 3   Area ID                   42380 non-null  int64
 4   Area Name                 42380 non-null  object
 5   Reporting District        42380 non-null  int64
 6   Age                       42380 non-null  int64
 7   Sex Code                  42380 non-null  object
 8   Descent Code              42380 non-null  object
 9   Charge Group Code         30351 non-null  float64
 10  Charge Group Description  30332 non-null  object
 11  Arrest Type Code          42380 non-null  object
 12  Charge                    42380 non-null  object
 13  Charge Description        30351 non-null  object
 14  Address                   42380 non-null  object
 15  Cross Street              25835 non-null  object
 16  Location                  42380 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 5.8+ MB

In [8]:
data_2018.shape

(42380, 17)

In [9]:
print("{} bookings of arrestees were made in 2018".format(data_2018.shape[0]))

42380 bookings of arrestees were made in 2018

2. How many bookings of arrestees were made in each area and which area has the most arrests in 2018?

In [10]:
data_2018.groupby('Area Name').size().head(1)

Area Name
77th Street    1457
dtype: int64

In [11]:
print("Central Area had the most arrest bookings in 2018")

Central Area had the most arrest bookings in 2018

In [12]:
data.columns

Index(['Report ID', 'Arrest Date', 'Time', 'Area ID', 'Area Name',
       'Reporting District', 'Age', 'Sex Code', 'Descent Code',
       'Charge Group Code', 'Charge Group Description', 'Arrest Type Code',
       'Charge', 'Charge Description', 'Address', 'Cross Street', 'Location'],
      dtype='object')

3. Find the average age of arrestees per each charge group.

In [13]:
data.groupby('Charge Group Description')['Age'].mean().sort_values(ascending=False)

Charge Group Description
Drunkeness                        41.956863
Gambling                          41.912489
Disorderly Conduct                40.849315
Liquor Laws                       37.530658
Sex (except rape/prst)            36.284655
Against Family/Child              35.742242
Fraud/Embezzlement                35.520080
Narcotic Drug Laws                35.255864
Driving Under Influence           34.390511
Miscellaneous Other Violations    34.083950
Federal Offenses                  33.971154
Disturbing the Peace              33.680771
Aggravated Assault                33.480600
Rape                              33.203641
Forgery/Counterfeit               33.043220
Moving Traffic Violations         32.950922
Other Assaults                    32.590187
Larceny                           32.348620
Receive Stolen Property           30.653504
Prostitution/Allied               29.493825
Homicide                          29.421997
Vehicle Theft                     28.836739
Burglary                          28.670600
Weapon (carry/poss)               28.411530
Robbery                           26.320423
Pre-Delinquency                   15.479356
Non-Criminal Detention             7.908450
Name: Age, dtype: float64

a. Only consider data for 2018

In [14]:
data_2018.groupby('Charge Group Description')['Age'].mean().sort_values(ascending=False)

Charge Group Description
Drunkeness                        44.219972
Liquor Laws                       42.540955
Disorderly Conduct                41.924290
Gambling                          40.557047
Disturbing the Peace              39.727273
Against Family/Child              36.950355
Sex (except rape/prst)            36.555838
Miscellaneous Other Violations    36.252076
Rape                              36.203704
Narcotic Drug Laws                36.097954
Fraud/Embezzlement                35.689076
Forgery/Counterfeit               35.066667
Federal Offenses                  34.600000
Driving Under Influence           34.428291
Aggravated Assault                33.907359
Receive Stolen Property           33.687500
Other Assaults                    33.451139
Moving Traffic Violations         33.085622
Larceny                           32.725796
Prostitution/Allied               31.620470
Homicide                          30.896552
Burglary                          30.366755
Vehicle Theft                     30.095624
Weapon (carry/poss)               29.477178
Robbery                           27.538739
Pre-Delinquency                   15.407407
Non-Criminal Detention             8.787234
Name: Age, dtype: float64

b. Do not consider "Pre-Delinquency" and "Non-Criminal Detention" as these charge groups are reserved for minors

In [15]:
non_minor_arrests = data.loc[~data['Charge Group Description'].isin(['Pre-Delinquency', 'Non-Criminal Detention'])]

non_minor_arrests.groupby('Charge Group Description')['Age'].mean().sort_values(ascending=False)

Charge Group Description
Drunkeness                        41.956863
Gambling                          41.912489
Disorderly Conduct                40.849315
Liquor Laws                       37.530658
Sex (except rape/prst)            36.284655
Against Family/Child              35.742242
Fraud/Embezzlement                35.520080
Narcotic Drug Laws                35.255864
Driving Under Influence           34.390511
Miscellaneous Other Violations    34.083950
Federal Offenses                  33.971154
Disturbing the Peace              33.680771
Aggravated Assault                33.480600
Rape                              33.203641
Forgery/Counterfeit               33.043220
Moving Traffic Violations         32.950922
Other Assaults                    32.590187
Larceny                           32.348620
Receive Stolen Property           30.653504
Prostitution/Allied               29.493825
Homicide                          29.421997
Vehicle Theft                     28.836739
Burglary                          28.670600
Weapon (carry/poss)               28.411530
Robbery                           26.320423
Name: Age, dtype: float64

In [16]:
non_minor_arrests['Charge Group Description']

0                                Burglary
1                                     NaN
2                                 Larceny
3                                 Robbery
4                                Burglary
                        ...
1227511                     Vehicle Theft
1227512    Miscellaneous Other Violations
1227513               Weapon (carry/poss)
1227514               Weapon (carry/poss)
1227515         Moving Traffic Violations
Name: Charge Group Description, Length: 1208985, dtype: object

In [17]:
data_2018.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
165,5213460,01/24/2018,1930.0,6,Hollywood,668,29,M,H,10.0,Fraud/Embezzlement,F,530.5(A)PC,GET CREDIT/ETC OTHER'S ID,ST ANDREWS,FOUNTAIN,"(34.0949, -118.3109)"
166,5257944,03/15/2018,310.0,7,Wilshire,743,33,F,O,1.0,Homicide,F,191.5(B)PC,VEH MANSLAUGHTR/OPER VESSEL DUI & DUR FEL,OLYMPIC,MASSELIN,"(34.0574, -118.3547)"
167,5328813,06/01/2018,1800.0,3,Southwest,356,44,F,B,16.0,Narcotic Drug Laws,F,11379(A)HS,TRANSPORT/SELL CONTROLLED SUBSTANCE,1600 W 36TH PL,NaN,"(34.0219, -118.3061)"
168,5336331,06/10/2018,200.0,13,Newton,1364,23,M,H,12.0,Weapon (carry/poss),F,25400(A)2PC,CARRYING CONCEALED WEAPON UPON PERSON,1200 E 50TH ST,NaN,"(33.998, -118.2543)"
169,5360731,07/07/2018,2330.0,18,Southeast,1832,32,M,B,12.0,Weapon (carry/poss),F,29800(A)1PC,POSS F/ARM BY CONVICTED FELON/ADDICT/ETC,10700 S MAIN ST,NaN,"(33.9392, -118.2739)"

In [18]:
data_2018.groupby('Charge Group Description')['Time'].mean()

Charge Group Description
Against Family/Child              1356.815603
Aggravated Assault                1278.700394
Burglary                          1201.195251
Disorderly Conduct                1207.030194
Disturbing the Peace              1409.242424
Driving Under Influence           1140.764244
Drunkeness                        1530.434951
Federal Offenses                  1545.000000
Forgery/Counterfeit               1296.975000
Fraud/Embezzlement                1404.613445
Gambling                          1707.879195
Homicide                          1095.275862
Larceny                           1568.253576
Liquor Laws                       1461.236316
Miscellaneous Other Violations    1403.696778
Moving Traffic Violations         1367.327948
Narcotic Drug Laws                1381.889957
Non-Criminal Detention            1329.042553
Other Assaults                    1362.369581
Pre-Delinquency                   1139.481481
Prostitution/Allied               1431.339695
Rape                              1315.592593
Receive Stolen Property           1281.968750
Robbery                           1392.513514
Sex (except rape/prst)            1523.053299
Vehicle Theft                     1298.267423
Weapon (carry/poss)               1475.167358
Name: Time, dtype: float64

c. Exclude any arrests where the charge group description is not known

In [19]:
known_arrests = data.loc[~data['Charge Group Description'].isin(['Other Assaults', 'Miscellaneous Other Violations'])]

known_arrests.groupby('Charge Group Description')['Age'].mean().sort_values(ascending=False)

Charge Group Description
Drunkeness                   41.956863
Gambling                     41.912489
Disorderly Conduct           40.849315
Liquor Laws                  37.530658
Sex (except rape/prst)       36.284655
Against Family/Child         35.742242
Fraud/Embezzlement           35.520080
Narcotic Drug Laws           35.255864
Driving Under Influence      34.390511
Federal Offenses             33.971154
Disturbing the Peace         33.680771
Aggravated Assault           33.480600
Rape                         33.203641
Forgery/Counterfeit          33.043220
Moving Traffic Violations    32.950922
Larceny                      32.348620
Receive Stolen Property      30.653504
Prostitution/Allied          29.493825
Homicide                     29.421997
Vehicle Theft                28.836739
Burglary                     28.670600
Weapon (carry/poss)          28.411530
Robbery                      26.320423
Pre-Delinquency              15.479356
Non-Criminal Detention        7.908450
Name: Age, dtype: float64

Question 3: Satisfying conditions for a, b and c

In [20]:
filter_arrests = data_2018.loc[~data_2018['Charge Group Description'].isin(['Pre-Delinquency', 'Non-Criminal Detention', 'Other Assaults','Miscellaneous Other Violations'])]

filter_arrests.groupby('Charge Group Description')['Age'].mean().sort_values(ascending=False)

Charge Group Description
Drunkeness                   44.219972
Liquor Laws                  42.540955
Disorderly Conduct           41.924290
Gambling                     40.557047
Disturbing the Peace         39.727273
Against Family/Child         36.950355
Sex (except rape/prst)       36.555838
Rape                         36.203704
Narcotic Drug Laws           36.097954
Fraud/Embezzlement           35.689076
Forgery/Counterfeit          35.066667
Federal Offenses             34.600000
Driving Under Influence      34.428291
Aggravated Assault           33.907359
Receive Stolen Property      33.687500
Moving Traffic Violations    33.085622
Larceny                      32.725796
Prostitution/Allied          31.620470
Homicide                     30.896552
Burglary                     30.366755
Vehicle Theft                30.095624
Weapon (carry/poss)          29.477178
Robbery                      27.538739
Name: Age, dtype: float64

4. What is the 95% quantile of the age of the arrestee in 2018? Only consider the following charge groups for your analysis: 'Vehicle Theft', 'Robbery', 'Burglary', 'Receive Stolen Property'

In [21]:
filter_arrests = data_2018.loc[data_2018['Charge Group Description'].isin(['Vehicle Theft', 'Robbery', 'Burglary', 'Receive Stolen Property'])]

filter_arrests['Age'].quantile(0.95)

52.0

5. Crime arrest incidents have been dropping over the years. Using a linear regression for the data from 2010 and 2018 (inclusive), predict the number of crime arrests in 2019. Round to the nearest integer. Note, that the data set includes arrests for misdemeanor, felonies, etc.

In [22]:
data_2010_to_2018 = data.loc[data['Arrest Date'].str.contains('201[0-8]')]
data_2019 = data.loc[data['Arrest Date'].str.contains('2019')]

Possible features:

- Arrest date.
- Area name.
- Reporting district.
- Age.
- Sex code.
- Cross street.
- Location