In [14]:
import pandas as pd

data = pd.read_csv('./Arrest_Data_from_2010_to_Present.csv', nrows=1227516)

In [15]:
data

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
0,4248313,02/24/2015,1310.0,20,Olympic,2022,37,M,H,5.0,Burglary,F,459PC,BURGLARY,5TH,WILTON,"(34.0653, -118.314)"
1,191811472,05/03/2019,1700.0,18,Southeast,1802,23,F,B,NaN,NaN,M,653.22 PC,NaN,91ST,FIGUEROA,"(33.9543, -118.2827)"
2,4254777,02/26/2015,2010.0,19,Mission,1985,22,M,H,6.0,Larceny,M,459.5PC,SHOPLIFTING,8300 VAN NUYS BL,NaN,"(34.2216, -118.4488)"
3,5614161,04/29/2019,1040.0,8,West LA,842,41,M,H,3.0,Robbery,F,211PC,ROBBERY,11600 WILSHIRE BL,NaN,"(34.0508, -118.4592)"
4,5615197,04/30/2019,615.0,6,Hollywood,663,27,M,O,5.0,Burglary,F,459PC,BURGLARY,LA BREA,LEXINGTON,"(34.0907, -118.3384)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227511,5239050,02/21/2018,1320.0,16,Foothill,1656,41,M,W,7.0,Vehicle Theft,F,487(D)(1)PC,GRAND THEFT AUTO/HORSE/ETC,WHITEGATE,FOOTHILL BL,"(34.2596, -118.3049)"
1227512,5238356,02/21/2018,30.0,12,77th Street,1233,31,M,B,24.0,Miscellaneous Other Violations,M,602(O)(1)PC,REFUSE TO LEAVE PROPERTY UPON REQUEST P.O.,1700 W 60TH ST,NaN,"(33.9859, -118.3068)"
1227513,5240943,02/23/2018,1430.0,11,Northeast,1189,43,M,H,12.0,Weapon (carry/poss),F,21310PC,CARRY CONCEALED ON PERSON DIRK OR DAGGER,3400 MARMION WY,NaN,"(34.0863, -118.2157)"
1227514,5241772,02/24/2018,1720.0,4,Hollenbeck,423,29,M,H,12.0,Weapon (carry/poss),F,21810PC,MFG/SELL/GIVE/LEND POSSESS METAL KNUCKLES,1800 SICHEL ST,NaN,"(34.064, -118.2128)"
1227515,5238768,02/21/2018,1351.0,3,Southwest,358,52,M,B,23.0,Moving Traffic Violations,M,14601.2AVC,DRIVE W/LIC SUSPEND/REVOKE 4 DRUGS/ALCOHL,JEFFERSON,HOPE,"(34.0215, -118.2868)"

In [16]:
# remove rows with any NAs
data.dropna(how='all', inplace=True)

In [17]:
data

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
0,4248313,02/24/2015,1310.0,20,Olympic,2022,37,M,H,5.0,Burglary,F,459PC,BURGLARY,5TH,WILTON,"(34.0653, -118.314)"
1,191811472,05/03/2019,1700.0,18,Southeast,1802,23,F,B,NaN,NaN,M,653.22 PC,NaN,91ST,FIGUEROA,"(33.9543, -118.2827)"
2,4254777,02/26/2015,2010.0,19,Mission,1985,22,M,H,6.0,Larceny,M,459.5PC,SHOPLIFTING,8300 VAN NUYS BL,NaN,"(34.2216, -118.4488)"
3,5614161,04/29/2019,1040.0,8,West LA,842,41,M,H,3.0,Robbery,F,211PC,ROBBERY,11600 WILSHIRE BL,NaN,"(34.0508, -118.4592)"
4,5615197,04/30/2019,615.0,6,Hollywood,663,27,M,O,5.0,Burglary,F,459PC,BURGLARY,LA BREA,LEXINGTON,"(34.0907, -118.3384)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1227511,5239050,02/21/2018,1320.0,16,Foothill,1656,41,M,W,7.0,Vehicle Theft,F,487(D)(1)PC,GRAND THEFT AUTO/HORSE/ETC,WHITEGATE,FOOTHILL BL,"(34.2596, -118.3049)"
1227512,5238356,02/21/2018,30.0,12,77th Street,1233,31,M,B,24.0,Miscellaneous Other Violations,M,602(O)(1)PC,REFUSE TO LEAVE PROPERTY UPON REQUEST P.O.,1700 W 60TH ST,NaN,"(33.9859, -118.3068)"
1227513,5240943,02/23/2018,1430.0,11,Northeast,1189,43,M,H,12.0,Weapon (carry/poss),F,21310PC,CARRY CONCEALED ON PERSON DIRK OR DAGGER,3400 MARMION WY,NaN,"(34.0863, -118.2157)"
1227514,5241772,02/24/2018,1720.0,4,Hollenbeck,423,29,M,H,12.0,Weapon (carry/poss),F,21810PC,MFG/SELL/GIVE/LEND POSSESS METAL KNUCKLES,1800 SICHEL ST,NaN,"(34.064, -118.2128)"
1227515,5238768,02/21/2018,1351.0,3,Southwest,358,52,M,B,23.0,Moving Traffic Violations,M,14601.2AVC,DRIVE W/LIC SUSPEND/REVOKE 4 DRUGS/ALCOHL,JEFFERSON,HOPE,"(34.0215, -118.2868)"

In [18]:
# 1. How many bookings of arrestees were made in 2018?
data_2018 = data[data['Arrest Date'].str.contains('2018')]
data_2018.size

720460

In [19]:
# 2. How many bookings of arrestees were made in each area and which area has the most arrests in 2018?
data_2018.groupby('Area Name').size().sort_values(ascending=False)

Area Name
Central        5621
Hollywood      5378
Rampart        4243
Pacific        3545
Van Nuys       2331
N Hollywood    2052
Southwest      1768
Mission        1701
Newton         1638
Harbor         1628
Northeast      1579
77th Street    1457
West LA        1415
Olympic        1350
Devonshire     1336
Topanga        1208
Hollenbeck      995
West Valley     955
Foothill        801
Southeast       764
Wilshire        615
dtype: int64

In [20]:
# 3. There are differences between the average age of an arrestee for the various charge groups. 
# Find the average age of arrestees per each charge group.
average_age_per_charge_grp = data

0                                Burglary
1                                     NaN
2                                 Larceny
3                                 Robbery
4                                Burglary
                        ...
1227511                     Vehicle Theft
1227512    Miscellaneous Other Violations
1227513               Weapon (carry/poss)
1227514               Weapon (carry/poss)
1227515         Moving Traffic Violations
Name: Charge Group Description, Length: 1227516, dtype: object

In [8]:
# a. Only consider data for 2018

In [9]:
# b. Do not consider "Pre-Delinquency" and "Non-Criminal Detention" as these charge groups are reserved for minors

In [10]:
# c. Exclude any arrests where the charge group description is not known